body {
    cursor: url("images/cursor.png"), auto;
    margin: 8px;
}

html {
    cursor: url("images/cursor.png"), url("images/cursor.png"), auto;
}

canvas {
    border: 1px solid black;
}

.centerer {
    width: 100%;
    justify-content: center;
    display: flex;
}

button {
    height: 50px;
}

#score {
    font-size: xx-large;
    margin: 10px;
    margin-top: 3px;
}

