.hand {
    cursor: url("images/cursor.png"), url("images/cursor.png"), auto;
}


* {
    font-family: sans-serif;
}
canvas {
    border: 3px solid black;
}

.tutorial {
    margin-left: 20px;
}

h1, h2, h3, p {
    font-size: medium;
    margin: 0
}

li {
    margin-left: 40px;
}

.centerer {
    width: 100%;
    justify-content: center;
    display: flex;
}

.center-children-vert {
    display: flex;
    justify-content: center;
    align-items: center; /* To align vertically, if needed */
}

.title {
    font-size: 30px;
}

.description {
    font-size: 10px;
}

.empty {
    width: auto;
    height: 10px;
}

.game.hand {
    width: 100%;
}

#mutebutton {
    font-size: larger;
}

input[type="range"] {
    margin: 0;
    height: 30px;
}

.centererhand {
    position: absolute;
    left: 35%;
    transform: translate(-50%, 0);
    display: flex;
    width: fit-content;
}

button {
    height: 50px;
}

#score {
    font-size: xx-large;
    margin: 10px;
    margin-top: 3px;
}

